	<title>Jam</title>
<div class='dashboard'>
	<br> 
	<h1>Contacts</h1>
	<p>Let's start writing!</p>

	<div class='chat'>
		<h1>I'm a chat field!</h1>
		<p>I'm in dev.</p>
	</div>

	<div class='logout_button'>
		<%= link_to 'Click here to log out.', login_path %>
	</div>
</div>